
header{
width:1600px;
height:200px;
background-color: blue;
margin:auto;
}

article{
width: 1200px;
height:50px;
background-color: red; 
text-align:right;
margin:auto;
}

nav{
width:500px;
height:350px;
background-color:blue;
}

#afbeelding{
width: 200px;
height:200px;
float:left ;

}